*.beam
*.o
*.so
*.access
*.dat
autom4te.cache
auth.log
report.log
configure
erl_crash.dump
yaws.pc
yaws.plt
bin/yaws
config.log
config.status
ebin/yaws.app
include.mk
priv/epam
scripts/yaws.conf
src/charset.def
src/mime_types.erl
src/yaws_configure.hrl
src/yaws_generated.erl
test/ibrowse
test/ibrowse.tar.gz
test/support/include.mk
test/support/include.sh
test/t1/localhost:8000/
test/t[123456]/logs/
test/t[123456]/yaws.conf
test/t4/www2/8388608.bin
www/yaws.pdf
www/yaws.ps
www/*.txt
www/*.txt.*
www/test.php
applications/yapp/doc/edoc-info
applications/yapp/doc/erlang.png
applications/yapp/doc/index.html
applications/yapp/doc/modules-frame.html
applications/yapp/doc/overview-summary.html
applications/yapp/doc/packages-frame.html
applications/yapp/doc/stylesheet.css
applications/yapp/doc/yapp.html
applications/yapp/doc/yapp_app.html
applications/yapp/doc/yapp_ets_server.html
applications/yapp/doc/yapp_event_handler.html
applications/yapp/doc/yapp_handler.html
applications/yapp/doc/yapp_mnesia_server.html
applications/yapp/doc/yapp_registry.html
applications/yapp/doc/yapp_server.html
applications/yapp/doc/yapp_sup.html
applications/yapp/ebin/yapp.app
applications/wiki/scripts/addFile
applications/wiki/scripts/getPassword
applications/wiki/scripts/importFiles
applications/wiki/scripts/updateWiki
doc/a.pdf
doc/b.pdf
doc/layout.pdf
doc/yaws.aux
doc/yaws.dvi
doc/yaws.log
doc/yaws.out
doc/yaws.pdf
doc/yaws.ps
doc/yaws.toc
doc/yaws_head.pdf
ebin/yaws.appup
etc
yaws_logs
rel/yaws
dialyzer_warnings
deps/*
