sudo: false

language: erlang
otp_release:
  - 19.2
  - 19.1
  - 19.0
  - 18.3
  - 18.2.1
  - 18.2
  - 18.1
  - 18.0
  - 17.5
  - 17.4
  - 17.3
  - 17.1
  - 17.0
  - R16B03-1
  - R16B03
  - R16B02
  - R16B01

env:
  global:
      - secure: "Jk1W4GtZ8rIg0fBsPepNMwipt1m6wkgYGJbuDiGUAXp8o0HD92aBCO95z4YvcYM9TxnAgpgxtUrlDXrZe5WhyAapJTW7HVm3JcsMpAfJAnGDrDeDrkI+A5V/I+ynFZ1F6F/2dKNQWJV3ieuwRojjH/dc3AVqYMWND0oAD/YWwkg="

addons:
  apt:
    packages:
      - autotools-dev
      - libpam0g-dev
      - texlive-latex-base
      - texlive-latex-recommended
      - texlive-fonts-recommended
      - texlive-font-utils
      - texlive-extra-utils
      - ghostscript
      - cadaver

install:
  - autoreconf -vfi

before_script:
  - ./configure

script:
  - make check -j4 V=1

after_script:
  - ./scripts/upload-travis-build-artifacts
