%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{erl_opts, [{platform_define,
             "(linux|freebsd|darwin)", 'HAVE_SENDFILE'},
            no_debug_info,
            warnings_as_errors]}.

{port_envs, [{"CFLAGS", "$CFLAGS -g -O3 -Wall -I/usr/include/security"},
             {"(linux|freebsd|dragonfly|solaris|darwin)",
              "DRV_CFLAGS", "$DRV_CFLAGS -DHAVE_SENDFILE"}]}.

{so_specs, [{"priv/lib/epam.so", ["c_src/epam.o"]},
            {"priv/lib/setuid_drv.so", ["c_src/setuid_drv.o"]},
            {"priv/lib/yaws_sendfile_drv.so",
             ["c_src/yaws_sendfile_drv.o", "c_src/hashtable.o"]}]}.

{pre_hooks, [{compile, "./scripts/rebar-pre-script"},
             {clean, "./scripts/rebar-pre-script clean"}]}.
