%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{plugins, [rebar_reltool_link]}.
{sub_dirs, ["rel"]}.

{erl_opts, [{platform_define,
             "(linux|freebsd|darwin)", 'HAVE_SENDFILE'},
            no_debug_info,
            {src_dirs, ["src", "examples/src"]},
            warnings_as_errors]}.

{port_envs, [{"CFLAGS", "$CFLAGS -g -O3 -Wall -I/usr/include/security"},
             {"(linux|freebsd|dragonfly|solaris|darwin)",
              "DRV_CFLAGS", "$DRV_CFLAGS -DHAVE_SENDFILE"}]}.

{port_specs, [{"priv/lib/epam.so", ["c_src/epam.c"]},
              {"priv/lib/setuid_drv.so", ["c_src/setuid_drv.c"]},
              {"priv/lib/yaws_sendfile_drv.so",
               ["c_src/yaws_sendfile_drv.c", "c_src/hashtable.c"]}]}.

{pre_hooks, [{compile, "./scripts/rebar-pre-script"},
             {clean, "./scripts/rebar-pre-script clean"}]}.
