%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../apps", "../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "{{nodeid}}", "1",
        [
         kernel,
         stdlib,
         sasl,
         yaws,
         {{appid}}
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "{{nodeid}}"},
       {profile, embedded},
       {incl_cond, derived},
       {mod_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore", "^include.mk.in"]},
       {app, hipe, [{incl_cond, exclude}]},
       {app, ibrowse, [{incl_cond, exclude}]},
       {app, compiler, [{mod_cond, app}]},
       {app, ssl, [{mod_cond, app}]},
       {app, {{appid}}, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "{{nodeid}}"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "releases/\{\{rel_vsn\}\}/nodetool"},
           {copy, "{{nodeid}}/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/{{nodeid}}", "bin/{{nodeid}}"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
           {mkdir, "etc/yaws"},
           {mkdir, "var/yaws/www"},
           {copy, "files/yaws.conf", "etc/yaws/yaws.conf"},
           {copy, "files/install.sh", "install.sh"}
          ]}.
