-----BEGIN CERTIFICATE-----
MIIEqjCCBBOgAwIBAgIBADANBgkqhkiG9w0BAQQFADCBwDELMAkGA1UEBhMCVVMx
FDASBgNVBAgTC09ha2xhZm9ybmlhMRAwDgYDVQQHEwdUZXN0aW5nMSgwJgYDVQQK
Ex9UZXN0IEluYy4gMSAxMDo0MTo0NyAyMDAxLTEyLTIxMRIwEAYDVQQLEwl0ZXN0
IGRlcHQxIDAeBgNVBAMTF3d3dy5kdW1teXNzbHRlc3RpbmcuY29tMSkwJwYJKoZI
hvcNAQkBFhp0ZXN0ZXJAZHVtbXlzc2x0ZXN0aW5nLmNvbTAeFw0wMTEyMjEwOTQx
NDdaFw0wMjEyMjEwOTQxNDdaMIHAMQswCQYDVQQGEwJVUzEUMBIGA1UECBMLT2Fr
bGFmb3JuaWExEDAOBgNVBAcTB1Rlc3RpbmcxKDAmBgNVBAoTH1Rlc3QgSW5jLiAx
IDEwOjQxOjQ3IDIwMDEtMTItMjExEjAQBgNVBAsTCXRlc3QgZGVwdDEgMB4GA1UE
AxMXd3d3LmR1bW15c3NsdGVzdGluZy5jb20xKTAnBgkqhkiG9w0BCQEWGnRlc3Rl
ckBkdW1teXNzbHRlc3RpbmcuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKB
gQDCh32ldc/MuYmPHQE0CA2h5b/RFXYWMYihuezMgfaRs728bMXAGrKCIARb3vWx
e28XVXov95FLqaCzBlNGjYqbAqEGiBsDfc2rH/nb7+/53CLmeHD6rFP0hCdLT34F
O8z2gomHtfEZXSNOFCq3/+kCEIjvY0MDiCJX+o1bnvYyXQIDAQABo4IBsDCCAaww
DAYDVR0TBAUwAwEB/zARBglghkgBhvhCAQEEBAMCAkQwLAYJYIZIAYb4QgENBB8W
HWlTRC1TU0wgR2VuZXJhdGVkIENlcnRpZmljYXRlMB0GA1UdDgQWBBSUJyeKnVD+
h/13c1ud6jZnX//XhDCB7QYDVR0jBIHlMIHigBSUJyeKnVD+h/13c1ud6jZnX//X
hKGBxqSBwzCBwDELMAkGA1UEBhMCVVMxFDASBgNVBAgTC09ha2xhZm9ybmlhMRAw
DgYDVQQHEwdUZXN0aW5nMSgwJgYDVQQKEx9UZXN0IEluYy4gMSAxMDo0MTo0NyAy
MDAxLTEyLTIxMRIwEAYDVQQLEwl0ZXN0IGRlcHQxIDAeBgNVBAMTF3d3dy5kdW1t
eXNzbHRlc3RpbmcuY29tMSkwJwYJKoZIhvcNAQkBFhp0ZXN0ZXJAZHVtbXlzc2x0
ZXN0aW5nLmNvbYIBADAlBgNVHREEHjAcgRp0ZXN0ZXJAZHVtbXlzc2x0ZXN0aW5n
LmNvbTAlBgNVHRIEHjAcgRp0ZXN0ZXJAZHVtbXlzc2x0ZXN0aW5nLmNvbTANBgkq
hkiG9w0BAQQFAAOBgQBMW/QxlBsJhSvNm6VPZdG70HSttcZiVhvjinBFNRRPrMWU
/zFQFW0I8vdvUSiGYpQ7zSDA0kdp94dDy2fj/bIOq0KIUysgll0fi/3kTLF7/9Kt
BxxoXW6rk1XQMNOWlbZTcNLRL8IFbEhWZAImtZRO9kckmX357QYSGRb692KPuw==
-----END CERTIFICATE-----

