{sys, [
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "yaws",
        {cmd, "sed -ne '1,/^YAWS_VSN=/s/^YAWS_VSN=//p' ../vsn.mk 2>/dev/null"},
        [
         kernel,
         stdlib,
         sasl,
         crypto,
         ssl,
         public_key,
         compiler,
         mnesia,
         xmerl,
         yaws
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "yaws"},
       {profile, embedded},
       {incl_cond, derived},
       {mod_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore", "^include.mk.in"]},
       {app, yaws, [{mod_cond, all}, {incl_cond, include}, {lib_dir, ".."}]}
      ]}.

{target_dir, "yaws"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/yaws", "bin/yaws"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
