
<style TYPE="text/css">
  body {
    background: rgb(250,240,230);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: black;
  }

#menu {
  background: #B6B6A5;
}

  div.links {
    background: green;
  }

  div.box { border: solid; border-width: thin; width: 90%; 
            margin : 4;
            background: rgb(211, 211, 211)  }



  div.man { border: solid; border-width: thin; width: 80%; 
            font-size: 70%
            margin : 4;
            background: rgb(240, 230, 140)  }



  H1, H2,  H4, H5 {
      text-decoration: none;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-weight: bold; 
      font-variant: small-caps
  }
  I {       font-size : 9pt; 
            font-family: Times, Verdana, Arial, Helvetica, sans-serif;}
  P { text-decoration: none;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-weight: normal; 
  }

  A { text-decoration: none;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-weight: normal; 
  }
  A:visited { font-style: oblique; color: #600000;}
  A:link { color: #0000f0 }          /* unvisited link */
  A:active { color: lime }        /* active links */
  A:hover { background: rgb(189,183,107) }

</style>
