name: Yaws-CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  make-check:
    name: Check on OTP-${{matrix.otp}}
    strategy:
      fail-fast: false
      matrix:
        otp:
          - "28.3"
          - "28.2"
          - "28.1"
          - "28.0"
          - "27.2"
          - "27.1"
          - "27.0"
          - "26.2"
          - "26.1"
          - "26.0"
          - "25.3"
          - "25.2"
          - "25.1"
          - "25.0"
          - "24.3"
          - "24.2"
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          version-type: strict

      - name: Setup Build
        run: |
          export DEBIAN_FRONTEND=noninteractive
          sudo apt-get update
          sudo apt-get -y install autotools-dev build-essential make libpam0g-dev openssl wget curl cadaver #texlive-font-utils
      - name: Build Yaws
        run: |
          autoreconf -vfi
          ./configure
          make all -j4
      - name: Deterministically Build Yaws
        run: |
          autoreconf -vfi
          ./configure --enable-deterministic-build --with-source-date-epoch=$EPOCHSECONDS
          make all -j4
          make all -j4
      - name: Run test suite
        run: |
          make check
          if (( $(find . -name erl_crash.dump | wc -l) != 0 )); then \
            echo FAILED: erl_crash.dump file found; \
            exit 1; \
          fi
      # Currently not working steps
      # - name: Try document generation
      #   run: |
      #     make docs
      # - name: Run dialyzer
      #   run: |
      #     make dialyzer
